*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background-color: rgb(180, 185, 185);
    padding: 30px;
}
main{
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgb(207, 215, 215);
}